@mixin minwidth($width){
    @media only screen and (min-width:$width){
        @content;
    }
}
body{
    font-family: sans-serif;
}
.team_member{
    padding: 80px 0px;
    .container{
        @include minwidth(992px){
            max-width: 720px;
        }
        @include minwidth(1200px){
            max-width: 1140px;
        }
    }
    .text_part{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        @include minwidth(768px){
            margin-bottom: 50px;
        }
        h2{
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            @include minwidth(576px){
                font-size: 30px;
            }
            @include minwidth(992px){
                font-size: 35px;
            }
        }
    }
    .text_top_part{
        text-transform: uppercase;
        font-weight: 600;
        color: blue;
        font-size: 16px;
        position: relative;
        @include minwidth(992px){
            font-size: 18px;
        }
        &::after, &::before{
            position: absolute;
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background-color:blue;
        }
        &::after{
            top: 45%;
            left: -44px;
        }
        &::before{
            top: 45%;
            right: -44px;
        }
        p{
            margin: 0px;
            padding: 0px;
        }
    }
    .swiper-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box_back_color{
        position: relative;
        width: 290px;
        background-color: #eaf1fb;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        transition: 2s;
        @include minwidth(576px){
            width: 330px;
        }
        &:hover{
            .clip_path{
                background-color: #3d73fa;
            }
            .overlayer_color{
                background-color: #30303077;
            }
            .overlayer_image{
                width: 60px;
            }
            ul{
                display: block;
            }
            .fa-plus{ 
                color:#fff;
                background-color: black;
                transform: rotate(45deg);
            }
        }
        .img_box{
            width: 270px;
            position: relative;
            @include minwidth(576px){
                width: 305px;
                height: 350px;
            }
        }
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        .overlayer_color{
            position: absolute;
            content: '';
            display:block;
            width: 100%;
            height: 100%;;
            top: 0;
            left: 0;
            border-radius: 15px;
            transition: 0.3s;
        }
        .overlayer_image{
            position: absolute;
            top: 8px;
            right: 0px;
            width: 0px;
            height: 60px;
            display: block;
            transition: 0.3s;
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
     .clip_path{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        z-index: -1;
        clip-path: polygon(0 100%, 0 35%, 50% 5%, 56% 0, 100% 0, 100% 40%, 44% 77%, 26% 89%, 18% 93%, 19% 100%);
        background-color: #d5e0fc;
        border-radius: 15px;
        transition: 0.3s;
    }
    .card_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0px ;
        position: relative;
    }
    
    .card_content{
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .main_icon{
        margin:0 0 0 33px;
        height: fit-content;
        .fa-plus{
            color: blue;
            padding:8px 9px;
            background-color: #fff;
            border-radius: 50%; 
            font-size: 14px;
            transition: 0.3s;
        }
       
    }
    .social_icone{
        position: absolute;
        margin: -235px 0px 0px 0px;
        z-index: 5;
        ul{
            display: none;
            list-style: none;
            padding: 0px;
            margin: 0px;
            transition: 0.3s;
        }
        li{
            color: blue;
            display: flex; 
            width: 32px;
            height: 30px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            margin-bottom: 10px;
            &:nth-last-child(1){
                margin-bottom: 0px;
            }
            &:hover{
                background-color: blue;
                color: #fff;
            }
        }
        i{
           font-size: 14px;
        }
    }
    .card_text{
        margin-left: 30px;
        h5{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 16px;
            margin: 0px;
            padding: 0px;
        }
        p{
            color: #303030;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
    .card_address{
        position: relative;
        margin:-27px 0 0 auto;
        z-index: 5;
        background-color:  #eaf1fb;
        color: #303030;
        width: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px 10px 0;
        i{
          color: blue;  
        }
        .address{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        p{
            margin: 0px;
            font-size: 14px;
            padding-left: 8px;
        }
    }
    .swiper-wrapper{
        padding-bottom: 50px;
    }
    .swiper-pagination-bullet{
        background-color: blue;
        padding: 4px;
        border-radius: 0px;
    }  
    // css code end and thanks for view .
    h6{
        font-size:30px;

}
